<html lang="fr">                                                                                                                                                                                                   
<head>                                                                                                                                                                                                             
    <meta charset="UTF-8">                                                                                                                                                                                         
    <title>Client</title>  
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2; /* Couleur de fond pour les titres de colonnes */
        }
        button {
            margin-top: 10px; /* Espace entre les boutons et la table */
        }
    </style>
</head>                                                                                                                                                                                                            
<body>                                                                                                                                                                                                             
    <h1>Liste des Clients</h1>                                                                                                                                                                                     
                                                                                                                                                                                                                   
    <table>                                                                                                                                                                                                        
        <tr>                                                                                                                                                                                                       
            <th>ID</th>                                                                                                                                                                                            
            <th>Nom</th>                                                                                                                                                                                           
            <th>Prenom</th>                                                                                                                                                                                        
            <th>Adresse</th>                                                                                                                                                                                       
            <th>Phone</th>                                                                                                                                                                                         
            <th>E_mail</th>                                                                                                                                                                                        


        </tr>                                                                                                                                                                                                      
        {% for row in data %}                                                                                                                                                                                      
        <tr>                                                                                                                                                                                                       
            <td>{{ row[0] }}</td>                                                                                                                                                                                  
            <td>{{ row[1] }}</td>                                                                                                                                                                                  
            <td>{{ row[2] }}</td>                                                                                                                                                                                  
            <td>{{ row[3] }}</td>                                                                                                                                                                                  
            <td>{{ row[4] }}</td>                                                                                                                                                                                  
            <td>{{ row[5] }}</td>                                                                                                                                                                                  



        </tr>                                                                                                                                                                                                      
        {% endfor %}                                                                                                                                                                                               
    </table>
    <!-- Buttons section -->
    <div>
        <a href="templates/ajouter_client.html"><!-- Lien vers la page ajouter_client.html -->
            <button type="button">Ajouter</button>
        </a>
        <button type="button" onclick="supprimer()">Supprimer</button>
        <button type="button" onclick="modifier()">Modifier</button>
    </div>

</body>                                                                                                                                                                                                            
</html>            
